/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@font-face {
	font-family: MmrText;
	src: url(/Public/fonts/mmrtext.ttf);
}

/* colors */
:root {
  --background: #23232f;
  --font_pop: #676eff;
  --white: #fff;
  --black: #000000;
  --grey: #cccccc;
  --blue: #3c64b1;
  --red: rgb(197, 44, 44);
  --filter_background: #23282fcc;
  --page_selected: #629eff;
  --page_unselected: #24298f;
  --error: rgb(197, 44, 44);
}

body {
	overflow-x: hidden;
	color: var(--white) !important;
}
select {
	width: 100%;
	padding: 5px 35px 5px 5px;
	font-size: 16px;
	border: 1px solid var(--grey);
	height: 50px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* background: url(../Img/mouse-hover-icon-22.jpg) 96% / 30px no-repeat; */
	background-color: var(--white);
}
a {
	text-decoration: none;
	position: relative;
	color: var(--black);
}
a:hover {
	text-decoration: none !important;
}
a span {
	display: none;
	position: absolute;
	color: var(--pop);
	background: var(--pop);
	padding: 5px;
}
a:hover span {
	display: inline-block;
	text-align: center;
	width: 250px;
	min-height: 30px;
	margin-top: 25px;
	font-family: pt-sans, sans-serif;
	color: var(--black);
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
input {
	font-family: pt-sans, sans-serif;
	height: 50px;
	font-size: 20px;
	width: 100%;
	padding: 0 10px;
	border: 1px solid var(--page_selected);
	border-radius: 5px;
	background-color: var(--white);
}
input:focus {
	outline: none !important;
	border-color: var(--highlight);
	box-shadow: 0 0 10px var(--highlight);
}
input,
select,
textarea {
	color: var(--black);
}
table tr th,
table tr td {
	padding: 10px;
}
.background {
	/* container */
	background-color: var(--background);
	width: 100%;
	height: 100%;
	position: absolute;
}

/* header */
#header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 90px;
  z-index: 2;
  border-bottom: 1px solid var(--blue);
  background-color: var(--background);
}
#LogoA {
	/* nerdygadgets logo container*/
	height: 90px;
	width: 100%;
	position: absolute;
}
#LogoImage {
	/* logo */
	height: 50px;
	margin: 17.5px;
}
#CategoriesBar {
	/* header links */
	position: absolute;
	left: 300px;
}
.HrefDecoration {
	/* header links color */
	color: var(--white);
}
.HrefDecoration:hover,
.HrefDecoration:active {
	/* header links hover */
	text-decoration: none;
	color: var(--grey);
}
ul#ul-class li {
	display: inline;
	color: var(--white);
	margin-right: 1em;
	font-size: 18px;
	text-decoration: none;
	line-height: 90px;
}
ul#ul-class-navigation {
  right: 35px;
  line-height: 90px;
  position: absolute;
}
ul#ul-class-navigation li {
	color: var(--white);
	display: inline;
	font-family: pt-sans, sans-serif;
	font-size: 20px;
	text-decoration: none;
	text-decoration-color: currentcolor;
}
ul#ul-class-navigation li img {
  height: 30px;
  width: 30px;
  margin: 0 20px;
}
#Content {
	margin-top: 90px;
}

/* home */
.IndexStyle {
	/* container banner */
	margin: 0 auto;
	width: 1400px;
}
.TextMain {
	/* banner desciption */
	color: var(--white);
	font-family: vortice-concept, sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	width: 60%;
	margin-left: 10%;
}
.HomePagePrice {
	/* banner pricing */
	color: var(--font_pop);
	font-family: vortice-concept, sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 7%;
}
.TextPrice {
	margin-top: 16%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
ul#ul-class-price li {
	display: inline;
}
.HomePageStockItemPicture {
	/* banner image */
	background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
	background-size: 100% 100%;
	width: 477px;
	height: 477px;
	background-repeat: no-repeat;
	margin-left: 55%;
	margin-top: -30%;
}

/* products {results page} */
#ResultsArea.Browse {
	/* prduct container */
	width: 78%;
	margin-left: 21%;
	float: left;
	position: sticky;
}
#FilterFrame {
	/* product filter */
	position: fixed;
	width: 19%;
	background-color: var(--background);
	float: left;
	/* top: 216px; */
	margin-left: 5px;
	margin-top: 10px;
	padding: 20px;
	height: 88%;
	border-right: 2px solid var(--blue);
}

#FilterOptions > h4 {
	margin-top: 30px;
}
#FilterOptions > input {
	border-radius: 0;
}
#FilterOptions > select {
	height: 40px;
	padding: 0 10px;
}

#ProductFrame {
	/* container for every single product */
	width: 100%;
	height: 250px;
	margin-top: 15px;
	position: relative;
	padding: 1px;
	border-bottom: 1px solid var(--white);
}
.ImgFrame {
	/* container for the product image */
	width: 230px;
	height: 230px;
	background-color: var(--blue);
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
.ImgFrame img {
	/* product image */
	width: 230px;
	height: 230px;
}
#StockItemFrameRight {
	/* container for the product price and BTW */
	float: right;
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
	right: 0;
	top: 0;
}
.CenterPriceLeftChild {
	/* another container */
	position: relative;
	top: 40%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.StockItemPriceText {
	/* price of the product */
	font-family: vortice-concept, sans-serif;
	color: var(--font_pop);
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 25px;
}
#ProductFrame h6 {
	/* inclusief btw text */
	color: var(--white);
}
.StockItemID {
	/* the id of the product */
	/* also used in the product page itself */
	font-family: vortice-concept, sans-serif;
	color: var(--font_pop);
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
}
.StockItemName {
	/* the name of the product */
	font-family: pt-sans, sans-serif;
	color: var(--white);
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.StockItemComments {
	/* comments for the product */
	font-family: pt-sans, sans-serif;
	color: var(--white);
	font-size: 14px;
	font-weight: bold;
}
.ItemQuantity {
	/* quantity of the product */
	position: absolute;
	left: 250px;
	bottom: 2.5px;
	color: var(--white);
	font-size: 15px;
}
#PageSelector {
	/* container for the page selector */
	text-align: center;
	margin: 20px;
}
#SelectedPage {
	/* currently selected page */
	font-size: 18px;
	display: inline;
	font-weight: bold;
	background-color: var(--page_selected);
	padding: 15px 22px;
	border-radius: 50px;
}
.PageNumber {
	padding: 7px 15px;
	border-radius: 39px;
	background: var(--page_unselected);
	border: 1px var(--page_selected) solid;
	color: var(--white);
}

/* single products page */
#CenteredContent {
	/* container for the products */
	margin: 0 auto;
	width: 70%;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}
#ArticleHeader {
	/* container for the header of the product */
	width: 100%;
	height: 300px;
	position: relative;
}
#ImageFrame {
	/* product image */
	width: 300px;
	height: 300px;
	background-color: var(--blue);
	float: left;
	margin-right: 10px;
}
/* StockItemID >> product css */
/* StockItemName >> product css*/
.QuantityText {
	/* quantity of the product */
	position: absolute;
	left: 310px;
	bottom: 0;
}
#StockItemHeaderLeft {
	/* item block */
	float: right;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	height: 300px;
}
.CenterPriceLeft {
	position: absolute;
	height: 100%;
	right: 0;
	width: 200px;
}
/* CenterPriceLeftChild  >> product css */
/* StockItemPriceText >> product css */
#StockItemDescription {
	/* desciption of the product */
	background-color: var(--filter_background);
	width: 49%;
	float: left;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid;
	font-family: pt-sans, sans-serif;
	font-size: 20px;
}
#StockItemSpecifications {
	/* specifications of the product */
	background-color: var(--filter_background);
	width: 49%;
	float: left;
	padding: 10px;
	margin-left: 1%;
	margin-top: 10px;
	border: 1px solid;
	font-family: pt-sans, sans-serif;
	font-size: 20px;
}

.ItemName {
	position: relative;
	top: 10px;
	font-family: pt-sans, sans-serif;
	color: var(--white);
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

#VideoFrame {
	width: 100%;
	height: 350px;
	background-color: #d6d6d6;
	margin-bottom: 10px;
}

/* all categories */
#Wrap {
	width: 100%;
	height: 600px;
	margin-top: 3%;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#Wrap a {
	text-decoration: none;
	color: var(--white);
}
#Wrap a:hover {
	color: #ccc;
	opacity: 0.9;
}
.StockGroups {
	position: relative;
	border: 1px solid var(--grey);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-left: 1.5%;
	font-family: vortice-concept, sans-serif;
	color: var(--white);
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.StockGroups h1 {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 25px;
}
#StockGroup1 {
	width: 18%;
	height: 600px;
	margin-left: 5%;
}
#StockGroup1 h1 {
	bottom: 0;
}
#StockGroup2 {
	width: 18%;
	height: 600px;
	background-size: cover;
}
#StockGroup2 h1 {
	bottom: 0;
}
#StockGroup3 {
	width: 15%;
	height: 41.5%;
}
#StockGroup4 {
	width: 30%;
	height: 250px;
}
#StockGroup5 {
	width: 25%;
	height: 53.5%;
	margin-top: 1.5%;
}
#StockGroup5 h1 {
	bottom: 0;
}
#StockGroup6 {
	width: 20%;
	height: 53.5%;
	margin-left: 1.5%;
	margin-top: 1.5%;
}
#StockGroup6 h1 {
	bottom: 0;
}

/* payments */
.payments-container > * {
	font-family: "Muslish", sans-serif;
	color: var(--white);
	padding: 0;
	margin: 0;
}
.payments-container {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: end;
	height: 86vh;
}
h1 {
	margin-left: 10px;
}

.information {
	/* left side of the payments page */
	width: 60vw;
	display: grid;
	height: 60vh;
}
.information > div {
	height: 85vh;
	width: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
}
input {
	height: 35px;
	font-size: 15px;
}
.information h1 {
	color: var(--white);
	font-size: 25px;
}


/* form in the payment page */
.information .form-2 {
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.information .form-2 input{
  grid-column-start: 1;
  grid-column-end: 5;
}
.information .form-2 div {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}
.information .form-2 input:nth-child(3),
.information .form-2 input:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.information .form-2 input:nth-child(4),
.information .form-2 input:nth-child(10) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.information .form-2 input:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 4;
}
.information .form-2 input:nth-child(7) {
  grid-column-start: 4;
  grid-column-end: 5;
}
.payment {
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-row-gap: 40px;
  height: 88vh;
  padding-right: 20px;
}

.payment table tr:nth-child(4) {
	border-bottom: 1px solid lightgray;
}
.payment .pay-container {
	border: 1px solid #dddddd;
	padding: 5%;
}
.payment .pay-container .credit-card {
	display: grid;
	grid-gap: 10px;
}
.payment .pay-container .credit-card input:nth-child(1),
.payment .pay-container .credit-card input:nth-child(2) {
	grid-column-start: 1;
	grid-column-end: 3;
}
.payment .pay-container .inline-radio {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}
.payment .pay-container .inline-radio input {
	width: 25px;
	display: inline;
	float: left;
}
.payment .pay-container .inline-radio p {
	padding: 14px;
	margin-left: 20px;
}
.payment button {
	background-color: #475f84;
	color: #fff;
	border: none;
	width: 250px;
	height: 75px;
	border-radius: 14px;
	float: right;
}

/* registeren */
.registreren-container {
  display:  flex;
  justify-content: center;
  align-content: center;
}

.registreren-container .information .form-1 input:nth-child(13) {
  margin-top: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight:500;
}

.information .form-1 {
  /* customer information form */
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.information .form-1 input{
  grid-column-start: 1;
  grid-column-end: 5;
}
.information .form-1 div {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* form in the register page */
.information .form-1 input:nth-child(5),
.information .form-1 input:nth-child(11) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.information .form-1 input:nth-child(6),
.information .form-1 input:nth-child(12) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.information .form-1 input:nth-child(8) {
  grid-column-start: 1;
  grid-column-end: 4;
}
.information .form-1 input:nth-child(9) {
  grid-column-start: 4;
  grid-column-end: 5;
}


/* form in the log in page */
.inloggen-container {
  display: grid;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  text-align: start;
}
.inloggen-container h1 {
  margin-left: 0;
}

.inloggen-container a {
  color: var(--blue);
  font-size: 15px;
}

.inloggen-container form input {
  margin-top: 10px;
}

.inloggen-container #button {
  margin-top: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight:500;
}
/* i have no idea where this css belongs */
.StockItemNameViewSize {
	font-size: 35px !important;
}
.Labels {
	margin-bottom: 0;
	padding: 10px;
	font-size: 20px;
	margin-right: 5px;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
#ImageCarousel {
	width: 300px;
	height: 300px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
	width: 20px;
	height: 20px;
}
.ListItem:hover {
	text-decoration: none;
}
#NoSearchResults {
	text-align: center;
	height: 100%;
	margin: 20px;
	position: relative;
}
#ProductNotFound {
	text-align: center;
	position: relative;
}

/* Cart & Browse */
.list {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
}

.list::-webkit-scrollbar {
	display: none;
}

.list h1 {
	margin: 0;
}

.list .delete-form {
	display: flex;
	flex-direction: column;
}

.list-item {
	position: relative;
	padding: 1rem;
	border-bottom: 2px solid var(--blue);
	width: 98%;
}

.list-item .delete-button {
	background: transparent;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	width: fit-content;
	align-self: flex-end;
}

.list-item .item-info {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
.list-item .item-info h1 {
	font-family: vortice-concept, sans-serif;
	text-transform: uppercase;
	color: var(--font_pop);
	font-size: 10px;
}

.list-item .item-info h2 {
	font-family: vortice-concept, sans-serif;
	text-transform: uppercase;
	color: var(--font_pop);
	font-size: 20px;
}
.list-item .item-info > h6 {
	font-family: vortice-concept, sans-serif;
	color: var(--white);
	font-size: 10px;
}

.list-item .item-info p:first-child {
	font-size: 20px;
}

.list-item .item-info p {
	font-family: pt-sans, sans-serif;
	color: var(--white);
	text-transform: uppercase;
	font-weight: bold;
}

.voorraad {
	position: absolute;
	float: left;
	display: block;
	bottom: 1rem;
}

.addcard {
	position: absolute;
	right: -3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	text-align: end;
}
.addcard * {
	display: inline-block;
}
.addcard input {
	background-image: url(../Img/add_to_card.svg);
	background-color: transparent;
	background-size: contain;
	height: 30px;
	width: 30px;
	border: none;
}
.addcard > h3 {
	margin-right: 10px;
	font-size: 20px;
}

.price {
	text-align: end;
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	line-height: 1.5;
}

.update-count {
	display: flex;
	color: var(--white);
	align-items: center;
	align-self: flex-end;
}

.update-count input {
	width: 75px;
}

.update-count label {
	font-size: 1.2rem;
	font-weight: 500;
	margin-right: 1rem;
}
.pop-up{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #399c39;
  padding: 10px;
  padding-left: 15%;
}
.pop-up-show {
  display: block;
  animation: slide-in 0.7s ease-in-out;
}
.pop-up-hidden {
  display: block;
  animation: slide-out 0.7s ease-out;
}
.error {
  background-color: var(--error);
}
@keyframes slide-in {
  0%{
    top: 0;
    opacity: 0;
  } 99% {
  }
  100% {
    top: 90px;
    opacity: 1;
    display: none;
  }
}
@keyframes slide-out {
  0%{
    top: 90px;
    opacity: 1;
  } 100% {
    top: 0px;
    opacity: 0;
  }
}

.browse {
	margin-left: 21%;
}

.empty-cart-link {
	color: #629eff;
}
.next {
	display: block;
	text-align: right;
}
.to-payments {
	border: 1px solid white;
	padding: 5px;
	border-radius: 4px;
	display: inline-block;
	text-align: right;
	color: white;
	margin-right: 30px;
	margin-top: 20px;
}

.to-payments:hover {
	color: white;
}

.btw {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--white);
}

.empty {
	display: grid;
	place-items: center;
	height: 90vh;
	width: 100vw;
}

.description {
	color: var(--grey);
}

.cart {
	display: grid;
	grid-template-columns: 75% 25%;
	height: 87vh;
	overflow: hidden;
}
.cart .total {
	margin-top: 1.5rem;
	width: 100%;
	padding-right: 2.5rem;
}

.cart .total .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart .list input[type="submit"] {
	border: none;
	background: var(--blue);
	color: var(--white);
	margin-left: 0.5rem;
}

.to-checkout {
	color: var(--white);
	background-color: var(--blue);
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	display: block;
	text-align: center;
	margin-top: 1rem;
}

.to-checkout:hover {
	color: var(--white);
}

hr {
	width: 98%;
	background: var(--white);
	border: 1px solid var(--white);
}

/* Review */
.reviews {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.reviews .reviews-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reviews .reviews-header h1 {
	margin: 0;
	margin-bottom: 1rem;
}

.reviews-sort {
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	width: 100%;
}

.reviews-sort .filter-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stars-amount {
	margin-left: auto;
}

.reviews-sort .filter-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.review {
	padding: 1rem;
	background: var(--white);
	color: var(--black);
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

.review-header {
	display: flex;
	margin-bottom: 1rem;
}

.review-header .left {
	display: flex;
	flex-direction: column;
}

.review-header .username {
	margin: 0;
}

.review-header .date {
	font-size: 0.8rem;
}

.review .rating {
	margin-left: auto;
}

.rating img {
	width: 2rem;
	height: auto;
}

.write-review textarea {
	width: 100%;
	border-radius: 0.25rem;
	height: 100px;
	padding: 0.5rem;
}

.write-review label {
	font-size: 1.2rem;
}

.write-review button {
	width: 100%;
	border-radius: 0.25rem;
	background-color: var(--blue);
	border: none;
	color: var(--white);
	padding: 0.5rem 1rem;
}

input:disabled,
input:read-only {
	background-color: rgb(202, 202, 202);
	color: gray;
}
