@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
:root {
	--white: #fff;
	--grey: #737b7d;
}

* {
	font-family: "Muslish", sans-serif;
	color: var(--grey);
	padding: 0;
	margin: 0;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

input {
	border: 1px solid #7b83cf;
	color: #737b7d;
	border-radius: 5px;
	background-color: transparent;
}

h1 {
	margin-left: 10px;
}

.information {
	width: 60vw;
	padding: 10px;
	display: grid;
	align-content: center;
	justify-content: center;
	height: 89vh;
}
.information h1 {
	color: #373f41;
	font-size: 25px;
}
.information .form-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.information .form-1 input:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
}
.information .form-1 div {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}
.information .form-1 div input {
	width: 25px;
	display: inline;
	float: left;
}
.information .form-1 div p {
	margin-left: 20px;
	padding: 14px;
}
.information .form-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.information .form-2 input:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
}
.information .form-2 input:nth-child(2) {
	grid-column-start: 3;
	grid-column-end: 5;
}
.information .form-2 input:nth-child(3) {
	grid-column-start: 1;
	grid-column-end: 5;
}
.information .form-2 input:nth-child(4) {
	grid-column-start: 1;
	grid-column-end: 4;
}
.information .form-2 input:nth-child(5) {
	grid-column-start: 4;
	grid-column-end: 5;
}
.information .form-2 input:nth-child(6) {
	grid-column-start: 1;
	grid-column-end: 5;
}
.information .form-2 input:nth-child(7) {
	grid-column-start: 1;
	grid-column-end: 3;
}
.information .form-2 input:nth-child(8) {
	grid-column-start: 3;
	grid-column-end: 5;
}
.information .form-2 input:nth-child(9) {
	grid-column-start: 1;
	grid-column-end: 5;
}

.payment {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	grid-row-gap: 40px;
	height: 89vh;
	margin-right: 20px;
}
.payment table tr:nth-child(2) > td:nth-child(1),
.payment table tr:nth-child(3) > td:nth-child(1) {
	padding-left: 50px;
}
.payment table tr:nth-child(4) {
	border-bottom: 1px solid lightgray;
}
.payment .pay-container {
	border: 1px solid #dddddd;
	padding: 5%;
}
.payment .pay-container .credit-card {
	display: grid;
	grid-gap: 10px;
}
.payment .pay-container .credit-card input:nth-child(1),
.payment .pay-container .credit-card input:nth-child(2) {
	grid-column-start: 1;
	grid-column-end: 3;
}
.payment .pay-container .inline-radio {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}
.payment .pay-container .inline-radio input {
	width: 25px;
	display: inline;
	float: left;
}
.payment .pay-container .inline-radio p {
	padding: 14px;
	margin-left: 20px;
}
.payment button {
	background-color: #475f84;
	color: #fff;
	border: none;
	width: 250px;
	height: 75px;
	border-radius: 14px;
	float: right;
}
